<div fxLayoutAlign="center center" class="main-div" fxFlexFill>
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login page</mat-toolbar>

    <form class="login-form" fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>

      <button color="primary" mat-raised-button type="submit">Login</button>
    </form>
  </mat-card>
</div>
