.container{
    padding: 40px 70px;
}

.formContainer{
    text-align: center;
    padding: 0px 500px;
}

.alignLeft{
    text-align: left !important;
}
.successMessage{
    background-color: white;
    border-radius: 5px;
    border: solid 3px green;
    color: green;
    margin: 10px;
    margin-bottom: 1%;
    opacity: 100;
}

.errorMessage{
    background-color: white;
    border-radius: 5px;
    border: solid 3px red;
    color: red;
    margin: 10px;
    margin-bottom: 1%;
    opacity: 100;
}

.errorText {
    padding-left: 20px;
    position: relative;
    top: -5px;
}

.extend {
    width: 300px !important;
}

.padding {
    padding: 20px;
}

button {
    background-color: #3f51b5;
    color: #fff;
    width: 150px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }